/* ====================
	COLORS
======================= */

/* Main Colors */
$dark-color: #558c89;
$light-color: #74afad;
$lighter-color: #8dc1bf;

/* Accent Color */
$accent-color: #d9853b;

/* Greys */
$lightgrey: #eee;
$darkgrey: #ccc;