/* ====================
	DEFAULTS
======================= */



/* Body Styles */
html, body {
	font-family: $body-font;
	color: #222;
	font-size: $base-size !important;
	font-weight: $base-weight;
	line-height: 1.5;
	text-align: center;
}


/* Section Styles */
section {
	padding-top: 2em;
	padding-bottom: 2em;
}


/* Heading and Link Styles */
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: $main-font;
	font-weight: $base-weight;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.125em;
}

a {
	color: #fff;
}


/* List Styles */
ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	display: inline;
}

a:hover {
	text-decoration: none;
}



/* Special */
.highlight {
	color: $light-color;
}

.navbar {
	border: none;
}