/* ====================
	TYPOGRAPHY
======================= */

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Oswald:400,700);

/* Font Variables */
$main-font: 'Oswald', sans-serif;
$body-font: 'Droid Serif', serif;

/* Base Font Styles */
$base-size: 16px !important;
$base-weight: 400;